body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/132/260/842/soraka-league-of-legends-league-of-legends-star-guardian-soraka-wallpaper-preview.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .page-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: darkblue;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .page-logo {
    width: 200px;
  }
  

  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
  }
  
  .resultado {
    color: black;
    text-align: center;
    margin-top: 16px;
  }
  .tentativas {
    color: black;
    text-align: center;
    margin-top: 16px;
  }
  